.wrapper {
  background-color: #fff6b8;
  /* padding: 30px; */
  margin-top: 1rem;
  padding-top: 2rem;

  padding-bottom:2rem;

  color: #1F3A24 !important;
}

.heading{
  font-size:4rem;
}

.center{
  width:70%;
  margin-left: 15% !important;
  margin-right: 15% !important;
}

.upperInfo {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.menuFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  margin-right: auto;
  margin-left: auto;

}

.btn {
  border: 2px solid #e87928;
  border-radius: 7px;
  color: #e87928;
  width: max-content;
  min-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* background-color:#fff; */
  text-align: center;
  display: flex !important;
  border: 2px solid #e87928 !important;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: inline-block;
  outline: none;
  color: #e87928 !important;
  background: linear-gradient(to left, #fff6b8 50%, #e87928 50%) right !important;
  background-size: 200% !important;
  transition: 0.3s ease-out !important;
  cursor: pointer;
}

.btn:hover {
  background-color: #e87928;
  color: #fff6b8 !important;
  background-position: left !important;
  border-color: #e87928 !important;
}


.containerDivider{
  display: flex;
  justify-content: center;
}



@media (max-width: 768px){

  .heading{
    font-size:2rem;
    padding-top: 1rem;
  }

  .upperInfo {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .menuFlex {
    width: 97%;  
    margin-right: auto;
    margin-left: auto;
  }

  .btn {
    width: 40% !important;
    min-width: 0px;
  }
  
  

  

}