
.button {
    border: 0.15rem solid #E23744 ;
    border-radius: 1rem;
    background-color: #E23744;
    color: #ffffff;
    padding-left:6%;
    padding-top: 0.7rem;
    align-items: center;
    font-weight: bold;
    font-size: 1.1rem;
    height: 3rem;
    width: 8rem;
    cursor: pointer;
  }
  
.button:hover {
    background-color: #fff;
    color: #E23744 !important;
}


@media screen and (max-width: 768px) {
    .button{
        font-size: 3.5vw;
        border: 2px solid #E23744;
        border-radius: 20px;
        background-color: white;
        color: #E23744 !important;
        padding: 3px 10px;
        cursor: pointer;
    }
}