.wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* margin-top: 80px; */
}

.wrapper h1 {
  margin-left: 0px;
  font-size: 40px;
}
.flexDiv {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.leftContainer {
  width: 50%;
}

.leftContainer p {
  margin: 0;
  margin-right: 30px;
  line-height: 33.5px;
  font-weight: 300;
}

.teamFlex {
  margin-top: 50px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1055px) {
  .flexDiv {
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: center;
  }

  .leftContainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .leftContainer p {
    margin: 0;
    margin-bottom: 20px;
    /* margin-right: 0px; */
  }
  .teamFlex {
    flex-direction: column;
  }
}
