.wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top:4rem;
  /* margin-top: 80px; */
  color: #1F3A24 !important;
  margin-bottom: 4rem;
}


.heading{
  font-size:4rem;
  text-align:center;
  /* margin-bottom:2rem; */
}

.wrapper h1 {
  margin-left: 0px;
  font-size: 40px;
}
.flexDiv {
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin-top: 39px;
  margin-bottom: 52px;
}

.leftContainer {
  width: 70%;
}

.leftContainer p {
  margin: 0;
  margin-right: 30px;
  line-height: 23px;
  font-weight: 300;
  font-size: 18px;
  /* justify-content: center; */
  display: flex;
  text-align: center;
}


.containerDivider{
  display: flex;
  justify-content: center;
  /* width: 30vw; */
}


.teamFlex {
  margin-top: 50px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.onMobile{
  display: none;
  margin-bottom: 30px;
}
/* .foundername{

} */
@media (max-width: 1055px) {
  .flexDiv {
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: center;
    display: flex;
  flex-direction: column-reverse;
  }

  .leftContainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .heading{
    font-size:4rem;
  }

  .leftContainer p {
    margin: 0;
    margin-bottom: 20px;
    /* font-size: 40px; */
    margin-top: 40px;
    /* margin-right: 0px; */
  }
  .teamFlex {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.3rem;
    display: flex;
    justify-content: space-around;
  }
  .wrapper {
    width: 90%;
  }
}
