.gallery {
  margin-top:1.5rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  /* grid-gap: 1.5rem; */
}

.container {
  width: 75%;
  margin: 2rem auto;
  color: #1f3a24 !important;
}

.headHeading {
  position: relative;
  display: block;
  top: -55%;
  z-index: 100 !important;
  font-size: 2rem;
  color: #000;
  left: 20%;
  cursor: pointer;
}

.heading {
  font-size: 4.3rem;
  text-align: center;
  margin-bottom: 0rem;

}

.containerDivider {
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .heading {
    font-size: 2.6rem;
    margin-bottom: 0rem;
  }

  .container {
    width: 90%;
  }
  .headHeading {
    font-size: 0.8rem;
    left: 5%;
    top: -60%;
  }
}
