.wrapper {
  background-color: rgba(116, 113, 113, 1);
  color: #fff;
  border: 2px solid rgba(116, 113, 113, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 30px !important; */
  width: 100vw !important;
  /* padding: 10px; */
  padding-left: 5rem;
  padding-right: 5rem;
  font-weight: 300;
  /* margin-top: 50px !important; */
  line-height: 33.5px;
}
