.wrapper {
  width: 100vw;
  /* height: 50vh; */
  object-fit: fill;
  margin-top: 70px;
  display: block;
}

.wrapper span {
  height: -webkit-fill-available !important;
  min-width: -webkit-fill-available !important;
}

.iconsColumn {
  display: flex;
  margin-left: auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* align-items: center; */
  top: 82vh;
  left: 95vw;
  margin-right: 30px;
  position: fixed;
  z-index: 100;
  /* background-color: #fff; */
  border-radius: 30px;
  padding: 5px;
  /* border: 2px solid #e87928; */
}

@media (max-width: 1055px) {
  .iconsColumn {
    left: 85vw;
  }
  .wrapper {
    margin-top: 40px !important;
  }
}
