.cover {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: #fff6b8;
  /* margin-top: 60px; */
}

.cover h1 {
  font-size: 60px;
}

.menuFlex {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
