.cover {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #fff6b8;
  /* margin-top: 60px; */
}

.heading{
  font-size:6rem;
  text-align:center;
  margin-top: 4rem;
  margin-bottom:1rem;
  color:#1F3A24 !important;
}

.heading2{
  font-size:4rem;
  text-align:center;
  margin-top: 4rem;
  margin-bottom:1rem;
  color:#1F3A24 !important;
}

.menuFlex {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  background-color:#ffffff;
  margin-right: auto;
  margin-left: auto;
}

.menuflexItem{
  flex: 1 0 21% ; /* explanation below */
  margin: 5px;
}


@media (max-width: 800px) {

  .heading{
    font-size:3rem; 
  }
  .heading2{
    font-size:1rem; 
  }

  .menuFlex {
    width: 90%;
  }

  .cover {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: #fff6b8;
    /* margin-top: 60px; */
  }
  

}